:root{
    --secondary-bg-color: #2e3a46;
    --primary-bg-color: #1e2d3b;
}


/* -----HEADER------- */
header{
    background-color: var(--secondary-bg-color);
    height: 80px;
    
}
header div {
    height: 100%;
}
header div > img{
    height: 80%;
    border: 1px solid green;
}

/* -----/ HEADER------- */

/* -----MAIN------- */
main{
    background-color: var(--primary-bg-color);
    height: calc(100vh - 80px);
}

#card-container{
    border: 1px solid red;
    height: 100%;
}
/* -----/ MAIN------- */