:root{
    --secondary-bg-color: #2e3a46;
    --primary-bg-color: #1e2d3b;
}

header{
    border: 1px solid red;
    background-color: var(--secondary-bg-color);
    height: 80px;
    
}
header div {
    height: 100%;
}
header div > img{
    height: 80%;
    border: 1px solid green;
}